.audio-section{
    border-top: 1px dotted var(--main-text-color);
    padding: 2rem;   
    .h5-p{
        font-size: 17px;
        font-weight: var(--mon-regular);
    }
    .reproductor-audio{
        audio{
            width: 50%;
        }
    }
}
.video-section{
    border-top: 1px dotted var(--main-text-color);
    padding: 2rem; 
    width: 400;
    height: 500px;
    background-color: var(--black);   
}

@media screen and (width > 768) {
   
    .reproductor-audio{
        audio{
            width: 100%;
        }
    }
}