.audio-section{
    border-top: 1px dotted var(--main-text-color);
    padding: 2rem;   
    .h5-p{
        font-size: 17px;
        font-weight: var(--mon-regular);
    }
    .reproductor-audio{
        width: 50%;
        audio{
            width: 10%;
        }
    }
}
.video-section{
    border-top: 1px dotted var(--main-text-color);
    padding: 2rem; 
    .reproductor-video{
        width: 100%;
        height: 20vh;
        background-color: var(--black);
        video {           
            padding: 2rem;
        }   
    }
}