.banner{
    position: relative;
    width: 100%;
    height: 30rem;

    h2.ia-gen{
        font-family: var(--yanone);
        font-size: 4rem;
        color: var(--text-white);
        opacity: 1;
        position: absolute;
        top: 12rem;
        left: 15px;   
    }
    .clonacion{
        color: var(--main-text-color);
        font-family: var(--yanone);
        font-size: 2rem;
        font-weight: var(--yanone-regular);
        text-align: right;
        border: #fff solid 3px;
        padding: 1.5rem;
        margin: 1rem;
    }
}

.soul{
    width: 100%;
    height: 20rem;
    opacity: 0.1;
    animation: opacityBanner 4s ease-in-out;
    animation-fill-mode: forwards;
    background-image: url("../assets/banner-bckg-mobile.jpg");
    background-repeat: no-repeat;
    background-size:cover; /* o contain */
    border: #000 solid 3px;
}

@media (width > 768){
    .ia-gen{
        text-align: left;
        position: absolute;
        top: 2rem;
        left: 20vw; 
    }
}

@media screen and (prefers-reduced-motion: no-preference) {

    @keyframes opacityBanner {
        0% {
            opacity:0.1;
        }
        100% {
            opacity:0.4;
        }
    }
}