.btn{
    padding: 10px;
    margin: 10px;
    background-color: var(--main-text-color);
    color:  var(--black);
    border-radius: 10px;
    border: var(--btn-border);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-out;
}

.btn:hover{
    cursor: pointer;
    &:hover {
        background-color: var(--bg-color);
        color: var(--text-white);
    }       
}
a .inicio{
    position: fixed;
    top:10px;
    right: 80px;
    z-index: 50;
    color: var(--black);
    transition: color 1s linear;
    transition: background-color 0.5s ease-in;
}
a .inicio:hover{
    cursor: pointer;
    &:hover{
      color: var(--text-white);
    }  
}

.menu{
    position: relative;
    right:0;
    top: 6rvh;
    z-index: 5;
    animation: lateralMenu 1s ease-in-out;
    /*animation-fill-mode: forwards;*/
    ul li{
     list-style: none;
     padding:4px;
     margin: 4px;     
   } 
   li a{
    text-decoration: none;
    color: var(--text-white);
    transition: color 0.5s linear;
   }
   li a:hover{
      &:hover{
        border-bottom: var(--bg-color) solid 1px;
        color: var(--bg-color);
      }
   }
   li.disabled a{
    color: var(--main-text-color);
    }
   .listadoMenu{
    position: absolute;
    top:-10px;
    right:80px;
    }
    .fondoMenu{
        position: absolute;
        top:0;
        right:80px;
        width: 200px;
        height: 240px;
        background-color: var(--main-text-color);
        opacity: 0.5;
    }
}

h4.h4-p{
  margin-left: 1rem;
  color: var(--text-white);
  font-family: var(--yanone);
  font-weight: var(--yanone-regular);
  font-size: 2rem;

}



@media screen and (prefers-reduced-motion: no-preference) {

    .menu {
        animation-timeline: ease-in;
      }
    
    @keyframes lateralMenu {
      0% {
        right: -20rem;
      }
      100% {
        right: 0;
      }
    }
}

@media screen and (max-width:425px) {

  a .inicio{
    right: 30px;
  }
  
}
/*
@media screen and (hover: hover) {  
    .btn{
        cursor: pointer;
        &:hover {
            background-color: var(--bg-color);
            color: var(--main-text-color);
        }       
    }
}*/

