
.grid-form{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap:10px;
    max-width: 360px;

    .input{
        border-left: 1px solid var(--black);
        border-right: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
        border-top:none;
        padding: 5px;
        margin:10px 0 0 0;
        width: 240px;
        
    }
    label{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    textarea.input{
        padding: 20px; 
        margin-top: 20px;
    }
    fieldset.flex{
        border:none;
        display: flex;
        justify-content: left;
        align-content: center;
        gap: 10px;
    }
}
.main-form{
    position: relative;
}
.formulario{
    position: absolute;
    left: 3rem;
}


@media screen and (min-width:1024px) {
    
    .container{
        height: 100rem;
    }
    
    .grid-form {
        grid-template-columns: repeat(4,1fr);       
        width: 92%;
        min-width: 600px;
        max-width: 1000px;
        
        .label{
            text-align: right;
        }
    }
    .flex {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50px;
    }

}

