.estadoReal{
    width: 100%;
    margin-top: 14vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-bottom: 2rem;
    border-bottom: solid 1px var(--main-text-color);
    
    .h4-p{
        margin-right: 1rem;
        h4{
            color: var(--text-white);
        } 
    }
    .contenedorImg{
        margin-left: 1rem;
        width: 100%;
        overflow: hidden;
    
        img{
            width: 110%;
        }
    }
}


.galeria{
    width:100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 1fr));
    gap: 15px;
    img{
        width:100%
    }
    .horizontal{
        height: 100%; 
        overflow: hidden;
        img{
            width:40vw;
        }
    }
    border-bottom: 3px var(--black) solid;
    padding: 15px 0;
    margin-bottom: 2rem;
    background-color:  var(--black) ;
}
