:root{
    --bg-color: #16161d;
    --text-white: #fff;
    --main-text-color: #999;
    --black: #000;

    --yanone: "Yanone Kaffeesatz", sans-serif;
    --yanone-regular: 200;
    --yanone-bold: 700;
    --mon-subr: "Montserrat Subrayada", sans-serif;
    --mon-regular: 400; 
    --main-font: "Mondo",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-regular:400;
    --btn-border:  #fff solid 0.18rem;

}
body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-weight: var(--main-font-regular);
    position: relative;
}
header{
    position: relative;
}

.container{
    width:98%;
    position: relative;;
    margin: 0 auto;
    max-width: 1084px;
}

footer{
    position: relative;
    width: 85%;
    font-family: var(--mon-subr);

    bottom: 0;
    height: 8rem;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-width: 425px;
    max-width: 768px;

    p{
        font-size: 12px;
        position: absolute;
        right: 160px;
    }
    a img{
        position: absolute;
        width:10%;
        bottom:0;
        &.github{
            left:80px;
        }
        &.linkedin{
            left:40px;
        }
        transition: width 2s ease-in-out;    
        &:hover:hover{
            width: 13%;
        }
    }
}

@media screen and (min-width:767px) {

    footer a img{
        width:7%;
        &:hover:hover{
            width: 9%;
        }
    }

}