:root{
    --bg-color: #16161d;
    --text-white: #fff;
    --main-text-color: #999;
    --black: #000;

    --yanone: "Yanone Kaffeesatz", sans-serif;
    --yanone-regular: 200;
    --yanone-bold: 700;
    --mon-subr: "Montserrat Subrayada", sans-serif;
    --mon-regular: 400; 
    --main-font: "Mondo",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-regular:400;
    --btn-border:  #fff solid 0.18rem;
    

}
html{
    width:90%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-weight: var(--main-font-regular);
    position: relative;
}
header{
    position: relative;
}

.container{
    width:100%;
    position: relative;;
    margin: 0 auto;
    max-width: 1084px;
}

.main{
    width:100%;
    height: 1000px;
    margin:0 auto;
}

footer.footer{
    position: relative;
    width: 400px;
    margin: 0 auto;
    font-family: var(--mon-subr);
    bottom: 0;
    height: 6rem;
    min-width: 400px;
    max-width: 768px;

    p{
        font-size: 12px;
        position: absolute;
        right: 60px;
        bottom: 20px;
    }
    a img{
        position: absolute;
        width:10%;
        bottom:10px;
        &.gh{
            left: 70px;
            z-index: 10;
        }
        &.linkedin{ 
            left:50px;
            z-index: 5;
        }
        transition: width 1s ease-in-out;    
        &:hover:hover{
            width: 13%;
        }
    }
}

@media screen and (min-width:767px) {

    footer a img{
        width:2%;

        &:hover:hover{
            width: 4%;
        }
    }
    .main {
        height: 600px;
    }

}

