:root{
    --bg-color: #16161d;
    --text-white: #fff;
    --main-text-color: #999;
    --black: #000;

    --yanone: "Yanone Kaffeesatz", sans-serif;
    --yanone-regular: 200;
    --yanone-bold: 700;
    --mon-subr: "Montserrat Subrayada", sans-serif;
    --mon-regular: 400; 
    --main-font: "Mondo",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-font-regular:400;
    --btn-border:  #fff solid 0.18rem;

}
body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-weight: var(--main-font-regular);
    position: relative;
}
header{
    position: relative;
}

.container{
    width:98%;
    position: relative;;
    margin: 0 auto;
    max-width: 1084px;
}

footer{
    width: 80%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    margin: 1rem;
    text-align: center;
    font-family: var(--mon-subr);
    p{
        font-size: 12px;
    }
}

