.container{
    position: relative;;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 340px;
    width:94%;
    height: 115rem;
    opacity: 0.8;
    z-index: 1;
    background-color: var(--text-white);
}


body{
    background-color: var(--text-white);
    color: var(--bg-color);
    background-image: url("../assets/contacto/fondoBody3.jpg");
    background-repeat: no-repeat;
    background-size:cover; /* o contain */
    position: relative;
}

.top .h2{
    font-family: var(--yanone);
    font-size: 4rem;
    color: var(--bg-color); 
}

.h3{
    font-family: var(--yanone);
    font-size: 3rem;
    color: var(--bg-color); 
    padding-top: 15px;
    padding-left: 15px;
    border-top: #000 dotted 1px;
}

.main-form{
    position: absolute;
    width: 90%;
    max-width: 1084px;
    top:20rem;
    padding: 0;
    margin: 0;
}

footer{
    background-color: var(--text-white);
    opacity: 0.7;
    color: var(--main-text-color)
}


button.btn{
    background-color: var(--bg-color);
    color: var(--text-white);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-out;
    padding: 10px;
    width:100px;
    height: 60px;
    text-align: center;
    &.secondary {
        background-color: transparent;
        color: var(--bg-color);
        border: 1px solid var(--black);
      }
    
}

button.btn:hover{
    cursor: pointer;
    &:hover{
        background-color: var(--main-text-color);
        color: #000;
    }
    &.secondary {
        &:hover{
            background-color: var(--main-text-color);
            color: #fff;
        }
    }
}

.top{
    a img{       
        width: 70%; 
    }
}