.container{
    position: relative;;
    margin: 0 auto;
    max-width: 1084px;
    width:120%;
    height: 90rem;
    opacity: 0.8;
    z-index: 1;
    background-color: var(--text-white);
}


body{
    background-color: var(--text-white);
    color: var(--bg-color);
    background-image: url("../assets/contacto/fondoBody3.jpg");
    background-repeat: no-repeat;
    background-size:cover; /* o contain */
    position: relative;
}

.top .h2{
    font-family: var(--yanone);
    font-size: 4rem;
    color: var(--bg-color); 
}

.h3{
    font-family: var(--yanone);
    font-size: 3rem;
    color: var(--bg-color); 
    padding-top: 15px;
    padding-left: 15px;
    border-top: #000 dotted 1px;
}

.main-form{
    position: absolute;
    width: 95%;
    max-width: 1084px;
    top:30rem;
    padding: 0 15px;
}


footer.footer{
    position: absolute;
    width: 100%;
    max-width: 1084px;
    bottom:0;
    padding: 0 15px;
    height: 40px;
    z-index: 5;
    background-color: var(--bg-color);
    p{
        color: var(--text-white)
    }
}

